body {
	font-family: calibri, arial;
	margin: 0;
	padding: 0;
	height: 100%;
}

header {
	background-color: rgba(103, 210, 240, 1.0);
}

#settings {
	display: inline-block;
	position: absolute;
	right: 2.2%;
	top: 1%;
	width: 10%;
	//margin: 1%;
	background: none;
	color: rgba(0, 0, 0, 1.0);
}

#settings p {
	text-align: center;
	display: inline-block;
	//float: right;
	width: 90%;
	color: rgba(0, 0, 0, 1.0);
	background-color: rgba(255, 255, 255, 0.5);
	line-height: 150%;
	font-size: 150%;
	padding: 1%
}

#settings:hover {
	background-color: rgba(255, 255, 255, 1.0);
	border: solid;
}
	
#settings ul {
	list-style: none;
	display: none;
}

#settings ul li {
	display: inline-block;
	width: 100%;
	border-bottom: solid rgba(0, 0, 0, 0.3);
}

#settings:hover ul {
	display: block;
}

#settings p img {
	display: inline-block;
	width: 11%;
}

img.logo {
	display: inline-block;
	width: 12%;
	float: right;
	margin-right: 3%;
	margin-top: 6%;
}

h1 {
	display: inline-block;
	font-size: 500%;
	padding-left: 1%;
}

nav a {
	margin: 1%;
	text-align: center;
	display: inline-block;
	width: 15%;
	height: 10%;
	color: rgba(0, 0, 0, 1.0);
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.5);
	line-height: 250%;
	font-size: 150%;
}

nav a:hover {
	background-color: rgba(255, 255, 255, 0.7);
}

nav a.active {
	background-color: rgba(255, 255, 255, 1.0);
	color: rgba(10, 30, 247, 1);
}

main {
	margin: 1%;
	word-wrap: break-word;
}

a {
	color: rgba(10, 30, 247, 1.0);
}

footer {
	background-color: rgba(70, 70, 70, 1.0);
	color: rgba(255, 255, 255, 1.0);
	position: relative;
	bottom: 0;
}

footer a {
	color: rgba(103, 210, 240, 1.0);
}

img.DiversionLogo {
	display: inline-block;
	float: left;
	width: 4%;
	margin: 1%;
	background-color: rgba(255, 255, 255, 1.0);
}

footer p {
	display: inline-block;
	line-height: 35%;
	font-size: 120%;
}